body {
  font-family: serif;
}

.header {
  width: 100%;
  height: 100vh;
  background-image: url("./images/top.jpg");
  background-position: center;
  background-size: cover;
  border-radius: 32px;
}

nav {
  display: block;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: auto;
  position: fixed;
  padding: 20px 10%;
  background-color: rgba(214, 214, 214, 0.74);
  z-index: 3;
  opacity: 0;
  box-sizing: border-box;
  left: 0;
  top: 0;
}

nav .inner {
  padding: 25px;
}

nav .inner ul {
  list-style: none;
  margin: 0;
  padding: 0;
  justify-content: center;
  align-items: center;
}

nav .inner ul li {
  margin: 0 10px;
}

nav .inner ul li a {
  display: block;
  text-decoration: none;
  color: #000000;
  font-size: 1.25rem;
  padding: 1rem;
  transition-duration: 0.2s;
  cursor: pointer;
}

/* ナビゲーションバーが.openクラスを持っていないときのナビゲーションリンク */
body:not(.open) nav .inner ul li a {
  cursor: default;
}

nav .inner ul li a:hover {
  background: rgba(138, 138, 138, 0.575);
  border-radius: 6px;
}

.toggle-btn {
  display: block;
  position: fixed;
  top: 30px;
  right: 30px;
  width: 30px;
  height: 30px;
  z-index: 3;
  cursor: pointer;
}

.toggle-btn span {
  position: absolute;
  display: block;
  left: 0;
  width: 30px;
  height: 2px;
  background-color: #acaaaa;
  transition: all 0.5s;
  border-radius: 4px;
}

.toggle-btn span:nth-child(1) {
  top: 4px;
}

.toggle-btn span:nth-child(2) {
  top: 14px;
}

.toggle-btn span:nth-child(3) {
  bottom: 4px;
}

.open .toggle-btn span {
  background-color: #acaaaa;
}

.open .toggle-btn span:nth-child(1) {
  transform: translateY(10px) rotate(-315deg);
}

.open .toggle-btn span:nth-child(2) {
  opacity: 0;
}

.open .toggle-btn span:nth-child(3) {
  transform: translateY(-10px) rotate(315deg);
}

#mask {
  display: none;
  transition: all 0.5s;
}

.open nav {
  left: 0;
  opacity: 1;
}

.open nav .inner ul li a {
  cursor: pointer;
}

.open #mask {
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: fixed;
  opacity: 0.5;
}

.no-scroll {
  overflow: hidden;
}

#concept,
#aboutMe,
#info,
#contact {
  padding: 5rem 0 6rem;
}

h2,
p {
  padding: 1rem;
}

h2 {
  font-size: 32px;
}
